﻿$def with (breadcrumbs)

$if not breadcrumbs is None:
    <div class="header hidden-print">
        <div class="container">
            <ol class="breadcrumb">
                $for crumb in breadcrumbs:
                    $if loop.last:
                        <li class="active">$:crumb</li>
                    $else:
                        <li>$:crumb</li>
            </ol>
        </div>
    </div>
$else:
    <div style="margin-bottom: 20px;"></div>
