.codehilite .hll, .highlight .hll, .code .hll { background-color: #ffffcc }
/* .codehilite     , .highlight     , .code  { background: #eeffcc; } */
.codehilite .c  , .highlight .c  , .code .c { color: #408090; font-style: italic } /* Comment */
.codehilite .err, .highlight .err, .code .err { border: 1px solid #FF0000 } /* Error */
.codehilite .k  , .highlight .k  , .code .k { color: #007020; font-weight: bold } /* Keyword */
.codehilite .o  , .highlight .o  , .code .o { color: #666666 } /* Operator */
.codehilite .cm , .highlight .cm , .code .cm { color: #408090; font-style: italic } /* Comment.Multiline */
.codehilite .cp , .highlight .cp , .code .cp { color: #007020 } /* Comment.Preproc */
.codehilite .c1 , .highlight .c1 , .code .c1 { color: #408090; font-style: italic } /* Comment.Single */
.codehilite .cs , .highlight .cs , .code .cs { color: #408090; background-color: #fff0f0 } /* Comment.Special */
.codehilite .gd , .highlight .gd , .code .gd { color: #A00000 } /* Generic.Deleted */
.codehilite .ge , .highlight .ge , .code .ge { font-style: italic } /* Generic.Emph */
.codehilite .gr , .highlight .gr , .code .gr { color: #FF0000 } /* Generic.Error */
.codehilite .gh , .highlight .gh , .code .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.codehilite .gi , .highlight .gi , .code .gi { color: #00A000 } /* Generic.Inserted */
.codehilite .go , .highlight .go , .code .go { color: #303030 } /* Generic.Output */
.codehilite .gp , .highlight .gp , .code .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
.codehilite .gs , .highlight .gs , .code .gs { font-weight: bold } /* Generic.Strong */
.codehilite .gu , .highlight .gu , .code .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.codehilite .gt , .highlight .gt , .code .gt { color: #0040D0 } /* Generic.Traceback */
.codehilite .kc , .highlight .kc , .code .kc { color: #007020; font-weight: bold } /* Keyword.Constant */
.codehilite .kd , .highlight .kd , .code .kd { color: #007020; font-weight: bold } /* Keyword.Declaration */
.codehilite .kn , .highlight .kn , .code .kn { color: #007020; font-weight: bold } /* Keyword.Namespace */
.codehilite .kp , .highlight .kp , .code .kp { color: #007020 } /* Keyword.Pseudo */
.codehilite .kr , .highlight .kr , .code .kr { color: #007020; font-weight: bold } /* Keyword.Reserved */
.codehilite .kt , .highlight .kt , .code .kt { color: #902000 } /* Keyword.Type */
.codehilite .m  , .highlight .m  , .code .m { color: #208050 } /* Literal.Number */
.codehilite .s  , .highlight .s  , .code .s { color: #4070a0 } /* Literal.String */
.codehilite .na , .highlight .na , .code .na { color: #4070a0 } /* Name.Attribute */
.codehilite .nb , .highlight .nb , .code .nb { color: #007020 } /* Name.Builtin */
.codehilite .nc , .highlight .nc , .code .nc { color: #0e84b5; font-weight: bold } /* Name.Class */
.codehilite .no , .highlight .no , .code .no { color: #60add5 } /* Name.Constant */
.codehilite .nd , .highlight .nd , .code .nd { color: #555555; font-weight: bold } /* Name.Decorator */
.codehilite .ni , .highlight .ni , .code .ni { color: #d55537; font-weight: bold } /* Name.Entity */
.codehilite .ne , .highlight .ne , .code .ne { color: #007020 } /* Name.Exception */
.codehilite .nf , .highlight .nf , .code .nf { color: #06287e } /* Name.Function */
.codehilite .nl , .highlight .nl , .code .nl { color: #002070; font-weight: bold } /* Name.Label */
.codehilite .nn , .highlight .nn , .code .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
.codehilite .nt , .highlight .nt , .code .nt { color: #062873; font-weight: bold } /* Name.Tag */
.codehilite .nv , .highlight .nv , .code .nv { color: #bb60d5 } /* Name.Variable */
.codehilite .ow , .highlight .ow , .code .ow { color: #007020; font-weight: bold } /* Operator.Word */
.codehilite .w  , .highlight .w  , .code .w { color: #bbbbbb } /* Text.Whitespace */
.codehilite .mf , .highlight .mf , .code .mf { color: #208050 } /* Literal.Number.Float */
.codehilite .mh , .highlight .mh , .code .mh { color: #208050 } /* Literal.Number.Hex */
.codehilite .mi , .highlight .mi , .code .mi { color: #208050 } /* Literal.Number.Integer */
.codehilite .mo , .highlight .mo , .code .mo { color: #208050 } /* Literal.Number.Oct */
.codehilite .sb , .highlight .sb , .code .sb { color: #4070a0 } /* Literal.String.Backtick */
.codehilite .sc , .highlight .sc , .code .sc { color: #4070a0 } /* Literal.String.Char */
.codehilite .sd , .highlight .sd , .code .sd { color: #4070a0; font-style: italic } /* Literal.String.Doc */
.codehilite .s2 , .highlight .s2 , .code .s2 { color: #4070a0 } /* Literal.String.Double */
.codehilite .se , .highlight .se , .code .se { color: #4070a0; font-weight: bold } /* Literal.String.Escape */
.codehilite .sh , .highlight .sh , .code .sh { color: #4070a0 } /* Literal.String.Heredoc */
.codehilite .si , .highlight .si , .code .si { color: #70a0d0; font-style: italic } /* Literal.String.Interpol */
.codehilite .sx , .highlight .sx , .code .sx { color: #c65d09 } /* Literal.String.Other */
.codehilite .sr , .highlight .sr , .code .sr { color: #235388 } /* Literal.String.Regex */
.codehilite .s1 , .highlight .s1 , .code .s1 { color: #4070a0 } /* Literal.String.Single */
.codehilite .ss , .highlight .ss , .code .ss { color: #517918 } /* Literal.String.Symbol */
.codehilite .bp , .highlight .bp , .code .bp { color: #007020 } /* Name.Builtin.Pseudo */
.codehilite .vc , .highlight .vc , .code .vc { color: #bb60d5 } /* Name.Variable.Class */
.codehilite .vg , .highlight .vg , .code .vg { color: #bb60d5 } /* Name.Variable.Global */
.codehilite .vi , .highlight .vi , .code .vi { color: #bb60d5 } /* Name.Variable.Instance */
.codehilite .il , .highlight .il , .code .il { color: #208050 } /* Literal.Number.Integer.Long */
