body{
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 15px;
}

blockquote {
    border-left: 1px solid #f4dada;
}


html, body {
  min-width: 100%;
}

h1, h2, h3, h4, h5, h6
{
  font-family: "Segoe UI","Open Sans",Helvetica,Arial,sans-serif;
  padding-bottom: 4px;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
{
  color: inherit;
}

h2
{
  border-bottom: 1px solid #f5bdbd;
}

h3
{
  border-bottom: 1px solid #fbd2d2;
}

h4
{
  border-bottom: 1px solid #ffe4e4;
}

h5
{
  border-bottom: 1px solid #f5bdbd;
}

h6
{
  border-bottom: 1px solid #f5bdbd;
}

.container, .navbar-static-top .container, .navbar-fixed-top .container,
.navbar-fixed-bottom .container {
    max-width: 1000px;
}

.document {
    max-width: 900px;
}
/* Jumbotrons
-------------------------------------------------- */
.navbar
{
    margin-bottom: 0;
}

/* Base class
------------------------- */
.jumbotron {
    position: relative;
    padding: 2px 0 0;
    margin-bottom: 0;
    color: #fff;

    text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);

    background-size: 50px 50px;
    background-color: #E3CA66;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                    transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                    transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                    transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                    transparent 75%, transparent);
    background-image: -ms-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                    transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                    transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                    transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                    transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                    transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                    transparent 75%, transparent);

    display: none;
}

.breadcrumb {
    border-radius: 0 0 1px 1px;
/*    background-color: #009688; */
    background-color: #03A9F4;
    color: #fff;

background: #04a2e5; /* Old browsers */
background: -moz-linear-gradient(top,  #04a2e5 0%, #03a9f4 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#04a2e5), color-stop(100%,#03a9f4)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #04a2e5 0%,#03a9f4 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #04a2e5 0%,#03a9f4 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #04a2e5 0%,#03a9f4 100%); /* IE10+ */
background: linear-gradient(to bottom,  #04a2e5 0%,#03a9f4 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#04a2e5', endColorstr='#03a9f4',GradientType=0 ); /* IE6-9 */

}

.breadcrumb a {
    background: none;
}

.breadcrumb > .active
{
    color: #fff;
    font-weight: bold;
}

.navbarmask {
    padding: 3em 0 0;
}

.jumbotron img {
    vertical-align: bottom;
}

.table {
    width: auto;
    font-weight: 300;
    font-size: 100%;
}

.wide {
    width: 100%;
}

.table tr
{
    border: none;
}

.table th
{
    background-color: #f6f6f6;
}


.table>thead>tr>th,
.table>tbody>tr>th,
.table>tbody>tr>td,
.table>tfoot>tr>td {
    padding: 2px 8px;
}

.wide th, .wide td {
    padding: 8px;
}

tt.literal, code {
    padding: 2px 4px;
    color: #e51c23;
    white-space: nowrap;
    background-color: #f9f2f4;
    border-radius: 4px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: normal;
}
tt.literal, code, kbd, pre, samp {
    font-family: "Droid Sans Mono",Monaco,Menlo,Consolas,"Courier New",monospace;
    font-size: 85%;
}

tt.literal, code, kbd, pre, samp {
    font-family: "Droid Sans Mono",Monaco,Menlo,Consolas,"Courier New",monospace;
    font-size: 85%;
}

.codehilite .err, .highlight .err, .code .err {
    border: none;
}

div.linenodiv > pre
{
    background: none;
    border: none;
}

td.label {
    color: #000;
}

.strike {
  text-decoration: line-through;
}

pre
{
    background-color: #FCFCFC;
}

div.attention, div.caution, div.danger, div.error, div.hint, div.important,
div.note, div.tip, div.warning, div.admonition {
    border: 1px solid #f0f0f0;
    margin: 10px 15px;
    padding: 1px 10px;
    border-radius: 1px;
}

p.admonition-title {
    font-size: 1.25em;
    font-weight: bold;
    margin: -1px -10px;
    padding: 0px 10px;
    border-bottom: 1px solid #ffd180;
}

div.warning .admonition-title, div.caution .admonition-title
{
    color: #333;
    background-color: rgba(255, 193, 7, 0.4);
    border-color: #fff8e1;
}

div.tip .admonition-title, div.hint .admonition-title
{
    color: #333;
    background-color: rgba(5, 163, 255, 0.4);
    border-color: #e7e9fd;
}

div.important .admonition-title, div.attention .admonition-title
{
    color: #333;
    background-color: rgba(5, 255, 22, 0.4);
    border-color: #d0f8ce;
}

div.danger .admonition-title, div.error .admonition-title
{
    color: #333;
    background-color: rgba(255, 5, 5, 0.4);
    border-color: #fde0dc;
}

div.attention p.admonition-title:before,
div.caution p.admonition-title:before,
div.danger p.admonition-title:before,
div.error p.admonition-title:before,
div.hint p.admonition-title:before,
div.important p.admonition-title:before,
div.note p.admonition-title:before,
div.tip p.admonition-title:before,
div.warning p.admonition-title:before,
div.admonition p.admonition-title:before {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: .2em;
}

div.attention p.admonition-title:before
{
    content: "\f0a1";
}
div.caution p.admonition-title:before
{
    content: "\f06a";
}
div.danger p.admonition-title:before
{
    content: "\f06d";
}
div.error p.admonition-title:before
{
    content: "\f00d";
}
div.hint p.admonition-title:before
{
    content: "\f069";
}
div.important p.admonition-title:before
{
    content: "\f192";
}
div.note p.admonition-title:before
{
    content: "\f044";
}
div.tip p.admonition-title:before
{
    content: "\f0a4";
}
div.warning p.admonition-title:before
{
    content: "\f071";
}
div.admonition p.admonition-title:before
{
    content: "\f005";
}

img {
  display: inline-block;
  height: auto;
  max-width: 100%;
  padding: 4px;
  line-height: 1.428571429;
  background-color: #ffffff;
  /* border: 1px solid rgba(245, 245, 245, .9); */
  border: none;
  border-radius: 1px;
  -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}

.figure {
  margin: 5px 10px;
  border: 1px solid rgba(240, 240, 240, .9);
  padding: 10px;
}

.figure img{
  border: none;
  padding: none;
}

.figure .caption {
  font-size: .9em;
  font-weight: bold;
  text-align: center;
  padding: 5px 0 0 0;
}

.figure .legend {
  font-size: .96em;
  margin-top: 10px;
}

p.attribution {
  text-align: right ;
  margin-left: 50%;
}

p.rubric {
  font-family: "Segoe UI","Open Sans",Helvetica,Arial,sans-serif;
  margin-bottom: 4px;
  border-bottom: 1px solid #fbd2d2;

  font-weight: bold ;
  font-size: larger ;
}

.system-messages h2, .problematic
{
    color: #b94a48;
}
.system-message
{
    margin-bottom: 10px;
}

.system-message-title
{
    font-weight: bold;
    margin-bottom: 2px;
}

.filelist i {
    vertical-align: baseline;
}

.pygmented pre {
    border-radius: 0 0 4px 4px;
}

td p, li p, dd p, div.figure p, div.sidebar p, div.topic p {
    margin-bottom: 2px;
}

/* Nested DL */
dd {
    padding-left: 1em;
}

dd dl {
    margin-bottom: 0;
}

li div.codehilite, ul div.codehilite {
    margin-top: 5px;
}

.footnote
{
    font-size: .75em;
    width: 75%;
}

.footnote  .label {
  font-size: 1em;
}

.footnote-reference
{
    vertical-align: super;
    font-size: .65em;
}

.breadcrumb a {
    padding: 0;
}

p, li {
    line-height: 1.9em;
}

div#readme
{
    border: 1px solid #eee;
    margin-bottom: 10px;
    border-top-width: 0;
    padding: 15px;
    margin-bottom: 10px;
}

pre.plaintext
{
  display: block;
  padding: 9.5px;
  margin: 0 0 0px;
  background-color: inherit;
  border: none;
}

div.filenameheader {
    padding: 5px 7px;
    border: 1px solid #eee;
    border-bottom: 1px solid #cecece;
    border-radius: 2px 2px 0 0;
    margin: 0;
    font-weight: bold;
    color: #000;

background: #ffc107; /* Old browsers */
background: -moz-linear-gradient(top,  #ffc107 0%, #f2b707 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffc107), color-stop(100%,#f2b707)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffc107 0%,#f2b707 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffc107 0%,#f2b707 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffc107 0%,#f2b707 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffc107 0%,#f2b707 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc107', endColorstr='#f2b707',GradientType=0 ); /* IE6-9 */

}

div.highlight, .shadow, div.filenameheader, div#readme, div.documentcontent {
    box-shadow: 0 0 25px rgb(254, 254, 254);
}

div.filenameheader p {
    margin: 0;
}

.centered {
    text-align: center;
}

div.imageview div.centered
{
    border-top-left-radius: 0;
    border-top-right-radius: 0;

}

.imageview .img-polaroid {
    padding: 5px 5px 20px 5px;
    margin-left: -5px;
}

body {
    background-color: rgb(254, 254, 254);
}

div.documentcontent, div#readme {
    background-color: #fff;
}

div.filelist table
{
    font-size: 1.25em;
}

div.filelist table tr, div.filelist table td, div.filelist table th
{
    border: 1px solid #f9f9f9;
}

div.container > div.pygmented > div.highlight > pre
{
    padding: 10px 20px;
    border-radius: 1px 1px 0px 0px;
    border: 1px solid #F6F6F6;
    margin-bottom: 10px;
    background-color: #fff;
}

div.documentcontent {
    padding: 10px 20px;
    border-radius: 1px 1px 0 0;
    border: 1px solid rgb(254, 254, 254);
    margin-bottom: 10px;
}

div.header div.container ul.breadcrumb {
    border-radius: 0 0 4px 4px;
    border: 1px solid #dedede;
    border-top: none;
    box-shadow: 0 0 4px #eaeaea;
}

.standalone {
    margin-top: 10px;
    margin-bottom: 10px;
}

input[type="radio"][disabled], input[type="checkbox"][disabled], .radio[disabled], .radio-inline[disabled], .checkbox[disabled], .checkbox-inline[disabled], fieldset[disabled] input[type="radio"], fieldset[disabled] input[type="checkbox"], fieldset[disabled] .radio, fieldset[disabled] .radio-inline, fieldset[disabled] .checkbox, fieldset[disabled] .checkbox-inline {
    cursor: inherit;
}

li.task-list
{
    list-style: none;
}

/* Autofit tables from rst */
table.docutils col {
    width: auto;
}

ol.simple, ul.simple {
  margin-bottom: 1em;
}

ol.arabic {
  list-style-type: decimal;
}

ol.loweralpha {
  list-style-type: lower-alpha;
}

ol.upperalpha {
  list-style-type: upper-alpha;
}

ol.lowerroman {
  list-style-type: lower-roman;
}

ol.upperroman {
  list-style-type: upper-roman;
}


@media print
{
    body{
        background-color: #ffffff;
        line-height: 1.3;
        color: #000;
    }
    p, blockquote, ul, ol, dl, pre, div.note
    {
        page-break-inside: avoid;
    }

    h1, h2, h3, h4, h5, h6
    {
        page-break-after: avoid;
    }
    div.documentcontent {
        border: none;
    }

    div.highlight, .table, div.filenameheader, div#readme, div.documentcontent {
        box-shadow: none;
    }

    img, .figure
    {
      border: none;
    }
}

.navbar-default {
    background-image: linear-gradient(to bottom, #FFF 0px, #FEFEFE 100%);
}

blockquote p {
    font-size: 15px;
    margin-bottom: 10px;
}


@media (max-width: 1000px) {

    body {
        padding: 0;
    }

    .container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .container>.navbar-header, .container>.navbar-collapse {
        margin-right: 0;
        margin-left: 0;
    }

    div.documentcontent
    {
        border: none;
        box-shadow: none;
    }

    .navbar-fixed-top,
    .navbar-fixed-bottom,
    .navbar-static-top,
    .jumbotron {
      margin-right: 0px;
      margin-left: 0px;
    }

    .container, .navbar-static-top .container, .navbar-fixed-top .container,
    .navbar-fixed-bottom .container {
        width: 100%;
    }

    .jumbotron {
        margin-top: -20px;
        padding: 0 20px;
    }

    .figure {
      width: 100%;
      margin-left: 0;
    }
}

@media (max-width: 920px) {
    .jumbotron {
        margin-top: -20px;
        padding: 0 20px;
    }

}

@media (max-width: 979px) {
    .navbarmask {
        padding: 0;
    }

    .jumbotron {
        padding: 0 -20px;
    }

}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1) {
  .jumbotron:after {
    background-size: 150px 150px;
  }
}


@media (min-width: 1800px) {
    div#contents {
        float: left;
        position: sticky;
        top: 25px;
        left: -60px;
        margin-left: -55%;
        margin-top: -45px;

    }
}

div#contents ul {
    padding: 5px 20px;
}

div#contents li {
    list-style: disclosure-closed;
}

/*
div#contents li:has(ul) {
    list-style: disclosure-open;
    color: red;
}
*/

div#contents p.topic-title {
    font-weight: bold;
    font-size: 1.2em;
}

