div.documentcontent {
    box-shadow: none;
    border: none;
    padding: 10px 20px;
    border-radius: 6px 6px 0 0;
    border: 1px solid #eee;
    margin-bottom: 10px;
}

body {
    background-color: #fff;
}

div.highlight, .table, div.filenameheader, div#readme, div.documentcontent {
    box-shadow: none;
    background-color: #fff;
    border: none;
}

body{
    background-color: #ffffff;
    line-height: 1.3;
    color: #000;
}
p, blockquote, ul, ol, dl, pre, div.note
{
    page-break-inside: avoid;
}

h1, h2, h3, h4, h5, h6
{
    page-break-after: avoid;
}

div.container {
    max-width: 1100px;
}
